/**
 * Base
 **/
body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #474747;
}
ul {
    padding: 0;
    margin: 50px 0 0 20px;
}
ul li {
    list-style: none;
}
img {
    display: block;
    height: auto;
    width: 100%;
}


/**
 * Module
 **/
.module {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.module-content {
    border: 1px solid;
    border-radius: 10px;
    padding-top: 60px;
}
.module-content-block {
    max-height: 300px;
    overflow-y: auto;
    padding: 15px;
    z-index: 1;
}
.module-content .text {
    line-height: 21px;
    text-align: justify;
    text-indent: 30px;
}
.module-content .module-content-block {
    display: none;
}
.module-content .module-content-block.active {
    display: block;
}

.module-image {
    width: 20%;
    float: left;
    margin-right: 20px;
}

.module-tabs {
    position: relative;
}
.module-tab {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    margin: 0 7px;
    color: #474747;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #474747;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.module-tab div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.module-tab:after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    bottom: -1px;
    background: #ffffff;
}
.module-tab-text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 10px;
}
.module-tab-text:hover {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.module-close {
    background: #FF0224;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 10px;
    margin: 0 10px 0 0;
}
.module-close:hover {
    background: rgba(255, 2, 36, 0.5);
    cursor: pointer;
}

/* active tab */
.module-tab.active {
    width: 102px;
    border: 0 none;
}
.module-tab.active:after {
    display: none;
}
.module-tab.active > div {
    position: absolute;
    top: 14px;
    border: 1px solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 5;
}
.module-tab.active .module-close {
    display: none;
}
.module-tab.active .module-tab-text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
}
.module-tab.active .module-tab-text:hover {
    cursor: auto;
}

.module-icon {
    display: none;
}

/**
 * Media Queries
 **/
@media only screen and (max-width : 768px) {
    body {
        padding: 0 15px;
    }
    .module {
        max-width: none;
    }
    .module-tabs {
        height: auto !important;
        margin: 50px 0 0;
        border: 1px solid #474747;
        border-bottom: none;
    }
    .module-tab {
        display: none;
        margin: 0;
    }
    .module-tab.active {
        display: inline-block;
        width: 80% !important;
    }
    .module-tab.active > div {
        width: 100%;
        position: static;
        border: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .module-content {
        padding-top: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .module-icon {
        display: block;
        float: right;
    }
    .module-icon:hover {
        cursor: pointer;
    }
    .module-icon > img {
        margin: 9px;
        width: 25px;
    }
    .module-tabs-mobile {
        display: none;
        position: absolute;
        right: 0;
        top: 44px;
        z-index: 2;
        background: #ffffff;
        border: 1px solid #474747;
        border-right: none;
        border-top: none;
    }
    .module-tab-mobile.active .module-close {
        display: none;
    }
    .module-tab-mobile.active .module-tab-text {
        font-size: 18px;
        color: #474747;
    }
    .module-tab-mobile {
        border-bottom: 1px solid;
    }
    .module-tab-mobile:last-child {
        border-bottom: none;
    }
}
